@import "../../styles/variables.scss";
.header {
  width: 100%;
  border-bottom: 1px solid $accent;
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    &-logo {
      .topText {
        font-size: $font-32;
        font-weight: 900;
        color: $white;
        line-height: 0.8;
      }
      .bottomText {
        font-size: $font-12;
        font-weight: 400;
        color: $accent;
        letter-spacing: 0.1725rem;
      }
    }
    &-connectBtn {
      .wallet-adapter-button-trigger {
        background-color: $accent;
        color: $white;
        height: 40px;
        &:hover {
          background-color: $accent-hover;
        }
      }
    }
  }
}
